.calculator-container {
    color: white;
    background-color: teal;

    font-size: 25px;

    width: 50vw;
}

.calculator-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;
}

.calculator-button {
    background-color: darkred;

    font-size: 20px;

    border: 1px solid white;
    
}

.calculator-zero {
    grid-column: 1 / 3;
    grid-row: 5;
}

.calculator-plus {
    grid-column: 4;
    grid-row: 2 / 4;
}

.calculator-equals {
    grid-column: 4;
    grid-row: 4 / 6;
}
